        <!-- SERVICE AREA -->
        <section class="service-area">
            <div class="container">
                <div class="service-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-cursor"></i>
                                </div>
                                <div class="service-content">
                                    <h3>{{lang('free_shipping')}}</h3>
                                    <span>{{lang('all_over_oman')}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-reload"></i>
                                </div>
                                <div class="service-content">
                                    <h3>{{lang('cash_on_delivery')}}</h3>
                                    <span>{{lang('available')}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-lock"></i>
                                </div>
                                <div class="service-content">
                                    <h3>{{lang('100_sure')}}</h3>
                                    <span>{{lang('payment_online')}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-tag"></i>
                                </div>
                                <div class="service-content">
                                    <h3>{{lang('best_price')}}</h3>
                                    <span>{{lang('guaranteed')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICE AREA -->
        
        <footer class="footer-area pt-85 pb-90">
            <div class="container">
                <div class="footer-top text-center">
                    <div class="footer-menu footer-menu-mrg footer-menu-hover-border">
                        <nav>
                            <ul>
                                <li><a href="{{BASE_URL}}products">{{lang('shop')}}</a></li>
                                <li><a href="{{BASE_URL}}about-us">{{lang('about')}}</a></li>
                                <li><a href="#">{{lang('warrenty')}} </a></li>
                                <li><a href="{{BASE_URL}}login-site">{{lang('my_account')}} </a></li>
                                <li><a href="{{BASE_URL}}contact">{{lang('contact')}}</a></li>
                                <li><a href="{{BASE_URL}}app">{{lang('mbay_app')}}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer-middle footer-middle-mrg">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="social-style-3-wrap xs-center">
                                <span>{{lang('follow_us')}}</span>
                                <div class="social-style-1">
                                    <a href="https://www.instagram.com/mbay_oman/" target="_blank"><i class="icon-social-instagram"></i></a>
                                    <a href="https://www.facebook.com/mbayshop" target="_blank"><i class="icon-social-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact-info-wrap-2 text-center">
                                <div class="footer-logo footer-logo-mrg">
                                    <a href="{{BASE_URL}}index"><img src="assets/images/logos/{{COMPANY_LOGO}}" alt="mbay logo"></a>
                                </div>
                                {% set company_data = COMPANY_ADDRESS|split(',')%}
                                <p>{{ company_data[0]}}</p>
                                <p>{{ company_data[1]}}</p>
                                <p>{{ company_data[2]}}</p>
                                <p>{{COMPANY_EMAIL}} </p>
                                <p>{{COMPANY_PHONE}} </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="language-style-2-wrap language-style-2-right">
                                <span>{{lang('need_help')}}</span>
                                <div class="language-style-2">
                                    <a href="#">{{lang('whatsapp')}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom copyright text-center">
                    <p>Copyright © 2023&nbsp;{{COMPANY_NAME}}</p>
                </div>
            </div>
        </footer>
                
        </div>
        <!-- END MAIN WRAPPER -->

        <!-- BASE JS -->
        <script src="assets/shop/js/vendor/jquery-v3.6.0.min.js"></script>
        <script src="assets/shop/js/plugins/jquery-ui.min.js"></script>

        <script src="assets/js/typeahead.js"></script>
        <script>
           $(document).ready(function() {
            $(function() {
              $('#search_box').typeahead({
                source: function(request, response) {
                    var url = "{{BASE_URL}}search-product";
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        data: 'query=' + request,
                        success: function(data) {
                          response($.map(data, function(item) {
                            return {
                                url: item.url,
                                value: item.name,
                                image:item.image,
                                amount:item.product_amount
                            }
                        }))
                      }
                  })
                },
                displayText: function(item) {
                    return item.value
                },
                updater: function (item) {
                    window.location.href = item.url
                    return item.value
                },
                highlighter: function(item,data) {
                    html = '<div class="serach-main"><div class="img-box"><img src="assets/shop/images/product/'+data.image+'" alt="..."></div><div class="search-item"><h5>'+data.value+'</h5><p>'+'OMR\n'+data.amount+'</p></div></div>';
                    return html;
                },

            });

          });
        });
        </script>
        <script>
           $(document).ready(function() {
            $(function() {
              $('#search_box_m').typeahead({
                source: function(request, response) {
                    var url = "{{BASE_URL}}search-product";
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        data: 'query=' + request,
                        success: function(data) {
                          response($.map(data, function(item) {
                            return {
                                url: item.url,
                                value: item.name,
                                image:item.image,
                                amount:item.product_amount
                            }
                        }))
                      }
                  })
                },
                displayText: function(item) {
                    return item.value
                },
                updater: function (item) {
                    window.location.href = item.url
                    return item.value
                },
                highlighter: function(item,data) {
                    html = '<div class="serach-main"><div class="img-box"><img src="assets/shop/images/product/'+data.image+'" alt="..."></div><div class="search-item"><h5>'+data.value+'</h5><p>'+data.amount+'</p></div></div>';

                    return html;
                },
            });

          });
        });
        </script>

      

        <script src="assets/shop/js/vendor/popper.min.js"></script>
        <script src="assets/shop/js/vendor/bootstrap.min.js"></script>

        <!-- PAGE JS -->
        <script src="assets/shop/js/plugins/slick.js"></script>
        <script src="assets/shop/js/plugins/wow.js"></script>
        <script src="assets/shop/js/plugins/jquery-ui.js"></script>
        <script src="assets/shop/js/plugins/sticky-sidebar.js"></script>
        <script src="assets/shop/js/currency-lang-switch.js"></script>
        <script src="assets/js/toaster_notification.js"></script>
        <script src="assets/plugins/toastr/toastr.min.js"></script>
        <!-- MAIN JS -->
        {%if MLM_LANG_CODE =='en' %}
        <script src="assets/shop/js/main.js"></script>
        {%elseif MLM_LANG_CODE =='ar' %}
        <script src="assets/shop/js/main-rtl.js"></script>
        {% endif %}

        </body>

        </html>