{% include('shop/layout/header.twig')%}


<body class="login">
    <div id="js_messages" style="display: none;">
        <span id="new_password_req_js">{{lang('new_password_req_js')}}</span>
        <span id="min_6_js">{{lang('min_6_js')}}</span>
        <span id="confirm_password_req_js">{{lang('confirm_password_req_js')}}</span>
        <span id="pass_mismatch_js">{{lang('pass_mismatch_js')}}</span>
    </div>


    <section class="pb-120 pt-120 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h3 class="mb-4">{{lang('reset_password')}}</h3>
                    {%include('admin/layout/notification.twig')%}
                    {% if link_validity %}
                    {{ form_open('', 'class="form_reset" id="form_reset" name="form_reset"')|raw }}
                    {% if form.vars.errors is not empty %}
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{lang('you_have_some_form_errors')}}
                    </div>
                    {%endif%}
                        <input type="hidden" name='user_id' value={{user_id}} />
                        <div class="mb-3">
                            <span class="input-icon">
                                <input type="password" class="form-control" id="new_password" name="new_password"
                                    placeholder="{{lang('new_password')}}" required="" tabindex='1' />
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span class="input-icon">
                                <input type="password" name="confirm_password" id="confirm_password"
                                    class="form-control" placeholder="{{lang('confirm_password')}}" tabindex='2' />
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                            <button type="submit" class="btn btn-primary" name="submit" id="submit" value="Reset">
                                {{lang('submit')}} <i class="fa fa-arrow-circle-right"></i>
                            </button>
                    {{form_close()|raw}}
                    {% else %}
                    <div class="alert alert-warning">
                        <button data-dismiss="alert" class="close">
                            ×
                        </button>
                        <strong>{{ lang('warning') }}</strong>
                        : {{ link_expiry_reason }}
                    </div>

                    {% endif %}
                </div>
            </div>
    </section>

    {% include('shop/layout/footer.twig')%}
    <script src="assets/js/reset_pass.js">
    </script>
    <script>
        jQuery(document).ready(function () {
            runResetValidator();
        });
    </script>