{% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">{{lang('home')}}</a></li>
                        <li class="active">{{lang('mbay_app')}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->


        <!-- ABOUT -->
        <section class="app-area pt-120 pb-120 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 app-header mx-auto">
                        <div class="app-logo">
                            <img src="assets/shop/images/bg/app-home.png" alt="App Logo">
                        </div>
                        <h1>{{lang('mbay_app_on_home_screen')}}</h1>
                        <p>
                            {{lang('enjoy_like_a_native_app')}}
                        </p>
                        <p>
                            {{lang('fast_secure_totally_free')}}
                        </p>
                        <p>
                            {{lang('works_better_with')}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto andorid-ios-tab">

                        <h4>{{lang('to_get_mbay_right_on_phone')}}</h4>

                        <!--android ios-->
                        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">
                                    <img class="platform-icon" src="assets/shop/images/icon-img/android.svg" width="20px"
                                        alt="Android Icon">{{lang('android')}}
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">
                                    <img class="platform-icon" src="assets/shop/images/icon-img/apple.svg" width="20px"
                                        alt="Apple Icon">{{lang('ios')}}
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <ul class="instructions-steps">
                                    <li data-number="1">
                                        <div class="instructions-steps-title">{{lang('load_mbay_in_chrome')}}
                                        </div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="2">
                                        <div class="instructions-steps-title">{{lang('tap_the_dots')}}
                                        </div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="3">
                                        <div class="instructions-steps-title">{{lang('select_add_to_home_screen')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="4">
                                        <div class="instructions-steps-title">{{lang('Chrome_will_open_a_prompt')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="5">
                                        <div class="instructions-steps-title">{{lang('launch_the_app')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                aria-labelledby="profile-tab" tabindex="0">
                                <ul data-tab="ios" class="instructions-steps">
                                    <li data-number="1">
                                        <div class="instructions-steps-title">{{lang('load_in_the_app')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="2">
                                        <div class="instructions-steps-title">{{lang('tap_share_icon')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="3">
                                        <div class="instructions-steps-title">{{lang('select_add_to_home_screen')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="4">
                                        <div class="instructions-steps-title">{{lang('change_the_app_name')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                    <li data-number="5">
                                        <div class="instructions-steps-title">{{lang('launch_the_app')}}</div>
                                        <img alt="" src="#">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end android ios-->
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT -->

{% include('shop/layout/footer.twig')%}
