{% include('shop/layout/header.twig')%}

<!-- Breadcrumb-area -->
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="{{BASE_URL}}index">{{lang('home')}}</a></li>
                <li class="active">{{lang('checkout')}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Breadcrumb-area -->



<!-- CHECKOUT -->
<section class="checkout-main-area pt-120 pb-120 bg-white">
    <div class="container">

        {{ form_open_multipart('', ' id="shop_checkout_form" name="shop_checkout_form"')|raw }}
        <div class="checkout-wrap pt-30">
            <div class="row">
                <div class="col-lg-7">
                    <!-- CLICK COLLECT & HOME DELIVERY TAB -->
                    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true" onclick="shopCheckout('click')">{{lang('click_and_collect')}}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false" onclick="shopCheckout('home')">{{lang('home_delivery')}}</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab" tabindex="0">
                            <!--click & collect-->

                            <!--store location map-->
                            <address class="border p-4 rounded">
                                <strong>mbay.</strong><br>
                                A' Souq Street<br>
                                As Sib, Muscat<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                                <abbr title="Google Map">Map:</abbr> <a class="text-decoration-underline"
                                    target="_blank" href="https://goo.gl/maps/pp4o6q1a2Eof5keB7">Google Map</a>
                            </address>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.021987028794!2d58.188833775963424!3d23.675171691659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e8dfb5354d9cb91%3A0x910cc383da392660!2zbWJheSBPbWFuIC0g2YUg2KjZiiDYudmF2KfZhg!5e0!3m2!1sen!2som!4v1689603891644!5m2!1sen!2som" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <!--end store location map-->

                            <!--end click & collect-->
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab" tabindex="0">
                            <!--home delivery-->
                            <div class="billing-info-wrap mr-50">
                                <h3>{{lang('choose_shipping_address')}}</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                {% set first = 1 %}
                                                {% for address in user_address %}
                                                <div class="pane py-3 border-bottom">
                                                    <div class="d-flex">
                                                        <input class="custom-check-input cstm-inppt" type="radio"
                                                            name="chooseAddress" {% if first == 1 %} checked {% endif %}
                                                            value="{{address.address_id}}" id="defaultCheck1" />
                                                        <label class="custom-check-label" for="defaultCheck1"> </label>
                                                        <div class="card-title">
                                                            {{address.fullname}}<br />
                                                            {{address.address_1}}<br />
                                                            {{address.address_2}}<br />
                                                            {{address.city}}<br />
                                                            {{address.state_name}}<br />
                                                            {{address.country_name}}<br />
                                                            {{address.zip_code}}<br />
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set first = 0 %}
                                                {% endfor %}

                                                <div class="pane mt-3">
                                                    <a href="account/3"
                                                        class="btn btn-sm btn-primary">{{lang('add_new_address')}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="your-order-area">
                        <h3>{{lang('your_order_summary')}}</h3>
                        {% for car in cart %}
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                                <div class="summary-item-main ">
                                    <!--summary loop items-->
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="assets/shop/images/product/{{car.image}}" alt="">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5>{{car.name}}</h5>
                                            <!-- <p>Colour: <span>Grey</span></p> -->
                                            <div class="d-flex-price justify-content-between align-items-center">
                                                <p>Qty: <span>{{car.qty}}</span></p>
                                                <p>{{lang('')}}: <span class="fw-semibold">OMR
                                                        &nbsp;{{car.price}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            {# <div class="your-order-info order-total sub-total-block">
                                <ul>
                                    <li class="fw-semibold1">{{lang('sub_total')}}<span class="fw-semibold1">OMR
                                            &nbsp;{{cart_amount|number_format(2, '.', ',')}} </span></li>
                                </ul>
                                <ul>
                                    <li class="fw-semibold1">{{lang('dicount')}} <span class="fw-semibold1">OMR
                                            &nbsp;{{cart_amount*0.01|number_format(2, '.', ',')}} </span></li>
                                </ul>
                            </div> #}
                            <div class="your-order-info order-total b-top-dashed">
                                <ul>
                                    <li class="fw-semibold">{{lang('total_payable')}} <span class="fw-semibold" id="cart-amount">OMR &nbsp;{{cart_amount *0.99|number_format(2, '.', ',')}}
                                        </span></li>
                                </ul>
                            </div>
                            <!--payment-->

                            <div class="payment-method">
                                <!-- cash on delivery -->
                                <div class="pay-top sin-payment">
                                    <input id="payment_method_1" class="radio-inline" type="radio"
                                        value="cash_on_delivery" checked="checked" name="payment_type">
                                    <label for="payment_method_1">{{lang('cash_on_delivery')}} </label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>{{lang('introducing_cod')}}</p>
                                    </div>
                                </div>
                                <!-- end cash on delivery -->

                                <!-- payment gateway -->
                                <!--  <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment_method_2" class="input-radio" type="radio" value="Thawani"
                                               name="payment_type">
                                        <label class="d-block" for="payment_method_2">Pay with Visa or Master Card Through Thawani Gate <img src="assets/shop/images/icon-img/payment.png" alt="">
                                        <a href="https://thawani.om/about/" target="_blank">What is
                                                Thawani?</a></label>
                                        {# <div class="payment-box payment_method_bacs">
                                            <p>
                                            Make your payment directly into our bank account. Please use your
                                                Order ID as the payment reference.
                                                </p>
                                        </div> #}
                                    </div> -->
                                <!-- end payment gateway -->

                                <!-- direct bank transfer -->
                                <div class="pay-top sin-payment">
                                    <input id="payment_method_3" class="radio-inline" type="radio" value="bank_transfer"
                                        name="payment_type">
                                    <label for="payment_method_3"> {{lang('direct_bank_transfer')}} </label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>
                                            {{lang('make_ur_payment')}}
                                        </p>
                                        {# <div class="p-3 border rounded mt-2 text-center">
                                            <img src="assets/images/qrcode.png" class="img-fluid w-100"
                                                alt="Bank QR Code">
                                                <h4 class="fw-bold">{{lang('qr_payment')}}t</h4>
                                        </div> #}
                                        <div class="bank-account-details border rounded p-3 mt-2">
                                            <address class="mb-0">
                                                <strong>Bank Name</strong><br>
                                                Bank Muscat<br>
                                                <strong>Company Name</strong><br>
                                                ALOSAN COMPLETE ENTERPRISES LLC <br>
                                                <strong>A/C NO </strong><br>
                                                0313055619700023<br>
                                            </address>
                                        </div>

                                        <div class="payment-slip">
                                            <label for="exampleFormControlInput1" class="form-label ms-0">{{lang('upload_payment_slip')}}</label>
                                            <input type="file" class="form-control form-control-sm" name="document" id='document' tabindex='2'>
                                        </div>

                                    </div>
                                </div>
                                <!-- end direct bank transfer -->
                            </div>
                            <!--end payment-->

                        </div>
                        <div class="place-order">
                            <button type="submit" class="btn btn-primary" value="shop_checkout_click"
                                name="shop_checkout" id="shop_checkout">{{lang('place_order')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_close()|raw }}

    </div>
</section>
<!-- END CHECKOUT -->

{% include('shop/layout/footer.twig')%}
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="assets/js/form-elements.js"></script>
<script>
    function shopCheckout(type) {
        

        total ={{cart_amount}}
        if (type == 'home') {
                $('.sub-total-block').hide();
                $('#cart-amount').html('OMR '+total.toFixed(2).toLocaleString('en-US'));
                $('#shop_checkout').val('shop_checkout_home');
        }else if(type == 'click'){
                $('.sub-total-block').show();
               // $('#cart-amount').html('OMR '+ (total*0.99).toFixed(2).toLocaleString('en-US'));
                $('#cart-amount').html('OMR '+total.toFixed(2).toLocaleString('en-US'));
                $('#shop_checkout').val('shop_checkout_click');
        }
    }

    $('#country').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        $.ajax({url: "register/get_states",
            data: {country_id: valueSelected},
            async: false,
            success: function (msg) {
                $('#state_span').html(msg);
                $("#state").select2({
                    placeholder: "Select a State",
                    allowClear: false
                });
            }
        });

    });
</script>
<style>
    .cstm-inppt {
        width: auto !important;
        margin-right: 15px
    }

    .d-flexx {
        display: flex;
    }
</style>