<!doctype html>
{%if MLM_LANG_CODE =='en' %}
<html class="no-js" lang="en">
{%elseif MLM_LANG_CODE =='ar' %}
<html dir="rtl">
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="robots" content="noindex, follow" />
	<base href="{{BASE_URL}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

	<title>Mbay Online Shopping</title>
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML, CSS, JavaScript">


	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/logos/{{COMPANY_FAV_ICON}}">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/logos/{{COMPANY_FAV_ICON}}">

	<!-- BASE CSS -->
	{%if MLM_LANG_CODE =='en' %}
	<link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.min.css">
	{%elseif MLM_LANG_CODE =='ar' %}
	<link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.rtl.min.css">
	<link rel="stylesheet" href="assets/shop/css/theme_rtl.css">
	{% endif %}

	<link rel="stylesheet" href="assets/shop/css/style.css">
	<link rel="stylesheet" href="assets/shop/css/custom_style.css">
	<link rel="stylesheet" href="assets/shop/css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="assets/shop/css/vendor/elegant.css">


	<!-- PAGE CSS -->
	<link rel="stylesheet" href="assets/shop/css/plugins/slick.css">
	<link rel="stylesheet" href="assets/shop/css/plugins/animate.css">
	<link rel="stylesheet" href="assets/shop/css/plugins/jquery-ui.css">
	<input type="hidden" name="path_root" id="path_root" value="{{BASE_URL}}" />
</head>


<head>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="../assets/shop/images/favicon.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<style>
	.color-box {
		width: 15px;
		height: 15px;
		border-radius: 100px;
		display: inline-flex;
		vertical-align: bottom;
	}
	.radius-0 {
		border-radius: 0;
		border-color: #dee2e6;
	}
	hr {
		border-color: #999b9d;
	}
</style>


<body>



	<!-- HEADER -->

	<!-- END HEADER -->
	<div class="main-wrapper bg-gray-9 h-100">

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<?= $page_title ?>
					<!-- end page title -->

					<div class="row ">
						<div class="col-lg-8 mx-auto mt-4">
							<div class="card radius-0">
								<div class="card-body" id="user-invoice">
									<div class="invoice-title">
										<div class="d-flex align-items-center justify-content-between mb-3">
											<div class="logo">

												<img src="assets/images/logos/{{COMPANY_LOGO}}" alt="mbay-logo"
													height="35">

											</div>
											<div class="text-end">
												<h5 class="mb-0">Invoice Number:</h5>
												<p class="mb-0">{{ invoice_details.invoice_id }}</p>
												<h5 class="mb-0">Order Date:</h5>
												<p class="mb-0">{{ invoice_details.invoice_date }}</p>
											</div>
										</div>
										<hr class="my-3">
									</div>

									<div class="row bill-area">
										<div class="col-sm-6">

											<h5><b>Billed To</b></h5>
											<h5>{{ invoice_details.username }}</h5>
											<h5>{{ invoice_details.phone }}</h5>
											{% if invoice_details.address1 %}
											<h5>{{ invoice_details.address1 }}<br />
												{% if invoice_details.address2 %}
												{{ invoice_details.address2 }}<br />
												{% endif %}
												{{ invoice_details.city }},{{ invoice_details.state }},{{ invoice_details.country }}<br />
												{{ invoice_details.zip_code }}
											</h5>
											{% endif %}


										</div>
										<div class="col-sm-6">
											<h5><b>Billed From</b></h5>
											{% set company_data = COMPANY_ADDRESS|split(',')%}
											<h5>{{ company_data[0]}}</h5>
											<h5>{{ company_data[1]}}</h5>
											<h5>{{ company_data[2]}}</h5>
											<h5>{{COMPANY_EMAIL}} </h5>
											<h5>{{COMPANY_PHONE}} </h5>
										</div>
									</div>


									<div class="border mt-3">
										<div class="table-responsive">
											<table class="table text-nowrap">
												<thead>
													<tr>
														<th>No.</th>
														<th>Item</th>
														<th>Quantity</th>
														<th>VAT %</th>
														<th>VAT Amount</th>
														<th>Price</th>
													</tr>
												</thead>

												<tbody>
													{% for ord_pro in invoice_details.products %}
													<tr>
														<th scope="row">{{ loop.index }}</th>
														<td>
															<h5>{{ ord_pro.product_name }}
															</h5>
															{% for key,value in ord_pro.options %}
															<h5>{{key}} :
																{{value}}</h5>
															{% if key == 'Color' %}
															<h5>Color : <span class="color-box"
																	style="background-color:{{value}};"></span></h5>
															{% endif %}
															{% endfor %}
														</td>
														<td>
															<h5 class="font-size-13 mb-1">{{ ord_pro.quantity }}</h5>
														</td>
														<td>5%</td>
														<td>{{ ord_pro.vat }}</td>
														<td>{{ ord_pro.amount }}</td>
													</tr>
													{% endfor %}

													<!-- <tr>
		                                                    <th scope="row">02</th>
		                                                    <td>
		                                                        <h5 class="font-size-15 mb-1">Skote</h5>
		                                                        <p class="font-size-13 text-muted mb-0">Bootstrap 5 Admin Dashboard </p>
		                                                    </td>
		                                                    <td class="text-end">$499.00</td>
		                                                </tr> -->

													<tr>
														<th scope="row" colspan="5" class="text-end">Sub Total</th>
														<td class="text-end">{{ invoice_details.total }}</td>
													</tr>
													<tr>
														<th scope="row" colspan="5" class="text-end">Value Added Tax</th>
														<td class="text-end">{{ vat }}</td>
													</tr>
													{% if invoice_details.discount > 0 %}
													<tr>
														<th scope="row" colspan="5" class="text-end">Discount</th>
														<td class="text-end">OMR &nbsp;{{ invoice_details.discount }}
														</td>
													</tr>
													{% endif %}
													{% if invoice_details.delivery_charge_only > 0 %}
													<tr>
														<th scope="row" colspan="5" class="text-end">Delivery Charge
														</th>
														<td class="text-end">{{ invoice_details.delivery_charge_only }}
														</td>
													</tr>
													{% endif %}
													{% if invoice_details.shipping_charge_only > 0 %}
													<tr>
														<th scope="row" colspan="5" class="text-end">Shipping Charge
														</th>
														<td class="text-end">{{ invoice_details.shipping_charge_only }}
														</td>
													</tr>
													{% endif %}
													{% if invoice_details.tax_only > 0 %}
													<tr>
														<th scope="row" colspan="5" class="text-end">Tax</th>
														<td class="text-end">{{ invoice_details.tax_only }}</td>
													</tr>
													{% endif %}
													<!-- <tr>
		                                                    <th scope="row" colspan="2" class="border-0 text-end">
		                                                        Tax</th>
		                                                    <td class="border-0 text-end">$12.00</td>
		                                                </tr> -->
													<tr>
														<th scope="row" colspan="5" class="border-0 text-end">Total</th>
														<td class="border-0 text-end">
															<b>OMR{{   grand_total }}</b>
														</td>
													</tr>
												</tbody>

											</table>
										</div>
									</div>
									<div class="d-print-none mt-3">
										<div class="float-end">
											<a href="javascript:window.print()"
												class="btn btn-success waves-effect waves-light me-1">
												<i class="fa fa-print"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div> <!-- container-fluid -->
		</div>
		<!-- End Page-content -->
	</div>

</body>

<style type="text/css">
	@media print {

		header,
		footer,
		aside,
		form,
			{
			display: none;
		}

		#user-invoice {
			visibility: visible !important;
		}
		.bill-area .col-sm-6 {
			width: 50%;
		}

	}

	@page {
		margin: 0cm;
	}
</style>

</html>