{% include('admin/partials/head-main.twig')%}
<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>

    {% include('admin/partials/head-css.twig')%}    
</head>
<div id="js_messages" style="display: none;"> 
    <span id="status_change_successfully_js">{{lang('status_change_successfully_js')}}</span>   
    
</div>

{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% include('admin/partials/menu.twig')%}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <?= $page_title ?>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body" id="user-invoice">
                        <div class="invoice-title border-bottom mb-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="logo">

                                    <img src="assets/images/logos/{{COMPANY_LOGO}}" alt="mbay-logo"
                                        height="35">

                                </div>
                                <div class="text-end">
                                    <h6 class="mb-0">Invoice Number:</h6>
                                    <p class="mb-0">{{ invoice_details.invoice_id }}</p>
                                    <h6 class="mb-0">Order Date:</h6>
                                    <p class="mb-0">{{ invoice_details.invoice_date }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row bill-area">
                            <div class="col-sm-6">

                                <h5><b>Billed To</b></h5>
                                <p class="mb-0">{{ invoice_details.username }}</p>
                                <p>{{ invoice_details.phone }}</p>
                                {% if invoice_details.address1 %}
                                <p class="mb-0">{{ invoice_details.address1 }}<br />
                                    {% if invoice_details.address2 %}
                                    {{ invoice_details.address2 }}<br />
                                    {% endif %}
                                    {{ invoice_details.city }},{{ invoice_details.state }},{{ invoice_details.country }}<br />
                                    {{ invoice_details.zip_code }}
                                </p>
                                {% endif %}


                            </div>
                            <div class="col-sm-6">
                                <h5><b>Billed From</b></h5>
                                {% set company_data = COMPANY_ADDRESS|split(',')%}
                                <p class="mb-0">{{ company_data[0]}}</p>
                                <p class="mb-0">{{ company_data[1]}}</p>
                                <p class="mb-0">{{ company_data[2]}}</p>
                                <p class="mb-0">{{COMPANY_EMAIL}} </p>
                                <p class="mb-0">{{COMPANY_PHONE}} </p>
                            </div>
                        </div>


                        <div class="border mt-3">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>VAT %</th>
                                            <th>VAT Amount</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for ord_pro in invoice_details.products %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                               {{ ord_pro.product_name }} 
                                            </td>
                                            <td>
                                                {{ ord_pro.quantity }}
                                            </td>                                           
                                            <td>
                                            5%
                                            </td>
                                            <td>
                                            {{ ord_pro.vat }}
                                            </td>
                                            <td>
                                            {{ ord_pro.amount }}
                                            </td>
                                           
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Sub Total</th>
                                            <td class="text-end">{{ invoice_details.total }}</td>
                                        </tr>
                                        
                                        {% if invoice_details.discount > 0 %}
                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Discount</th>
                                            <td class="text-end">OMR &nbsp;{{ invoice_details.discount }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% if invoice_details.delivery_charge_only > 0 %}
                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Delivery Charge
                                            </th>
                                            <td class="text-end">{{ invoice_details.delivery_charge_only }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% if invoice_details.shipping_charge_only > 0 %}
                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Shipping Charge
                                            </th>
                                            <td class="text-end">{{ invoice_details.shipping_charge_only }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% if invoice_details.tax_only > 0 %}
                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Tax</th>
                                            <td class="text-end">{{ invoice_details.tax_only }}</td>
                                        </tr>
                                        {% endif %}

                                        <tr>
                                            <th scope="row" colspan="5" class="text-end">Total Amount</th>
                                            <td class="border-0 text-end">
                                                <b>OMR &nbsp;{{ grand_total }}</b>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="d-print-none mt-3">
                            <div class="float-end">
                                <a href="javascript:window.print()"
                                    class="btn btn-success waves-effect waves-light me-1">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div> 
        </div>
        <!-- End Page-content -->
    </div>

    {% include('admin/partials/footer.twig')%}
    {% include('admin/partials/vendor-scripts.twig')%}
    <script src="assets/js/app.js"></script>

    <style type="text/css">
	@media print {

		header,
		footer,
		aside,
		form,
			{
			display: none;
		}

		#user-invoice {
			visibility: visible !important;
		}
		.bill-area .col-sm-6 {
			width: 50%;
		}
        #page-topbar {
            border-bottom: none;
        }

	}

	@page {
		margin: 1cm;
	}
</style>

    </body>

</html>
