{% include('shop/layout/header.twig')%}
<!-- ORDER SUCCESS -->
        <section class="order-success-area bg-white pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card text-center">
                            <h3 class="card-header">{{lang('your_order_has_been_received')}}Your order has been received</h3>
                            <div class="card-body">
                                <div class="done-icon">
                                    <img src="assets/images/icon-img/done-tick.svg">
                                </div>
                              <h4 class="card-title mt-3">{{lang('thank_you_for_your_purchase')}}</h4>
                              <h5 class="card-title mt-3">{{lang('your_order_id_is')}}: <span>MB00{{order_id}}</span></h5>
                               <p class="card-text">{{lang('you_will_receive')}}</p>
                              <!-- <p class="card-text">you will receive an order confirmation email with details of your order.</p> -->
                              <a href="#" class="btn btn-primary">{{lang('continue_shipping')}}</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ORDER SUCCESS-->

{% include('shop/layout/footer.twig')%}